.container {
  display: flex;
  flex-direction: column;
  background-color: #171627;
  align-items: center;
  padding: 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.navigation {
  height: 50px;
  width: 100%;
  color: white;
  background-color: #171627;
  font-family: Nunito;
}

.nav_style {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  font-family: Nunito;
}

.list_style {
  margin-left: 50px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
}

.main_nav {
  height: 80px;
  width: 100%;
  background: #26253d;

  color: white;
}

.signup_btn {
  background-color: #FF6F96;
  padding: 10px;
  width: 121.189px;
  height: 42px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--main, #FF6F96);
  box-shadow: 0px 4px 16px 0px rgba(144, 39, 142, 0.15);
  color: white;
  border: 1px solid #FF6F96;
  margin-left: 20px;

}

.nav_icons {
  width: 24px;
  height: 24px;
}

.banner {
  display: flex;
  background-color: #1E1D32;
  color: white;
  width: 100%;

  height: 530px;
  align-items: center;
  justify-content: center;
}

.left_side {
  width: 50%;
  padding-left: 40px;


}

.right_side {
  width: 50%;

}

.left_side1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right_side1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_title {
  text-transform: uppercase;
  font-family: Nunito;
}

.banner_title_pink {
  color: #FF6F96;
  margin-left: 10px;

}

.banner_subtitle {
  color: #C4D5F6;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 108.333% */
}

.upcoming_draw {
  background: #26253d;
  height: 116px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.label_main {
  color: #FFF;
  font-family: Nunito;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 120.833% */
  text-transform: uppercase;
  margin-top: 20px;
}

.second_lable {
  font-family: Nunito;
  margin-top: 10px;

}

.second_lable1 {
  font-family: Nunito;
  margin-top: 0px;

}

.flex_container {
  display: flex;
  flex-wrap: nowrap;
  font-family: Nunito;
}

.flex_container>div {
  border-radius: 5px;
  background: #454451;
  width: 70px;
  margin: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  font-family: Nunito;

}

.without_box {

  background: #26253d !important;
  width: 20px !important;

  text-align: center !important;
  line-height: 75px !important;
  font-family: Nunito !important;
  font-size: 45px !important;
}

.current_draw {
  height: 830px;
  background: #171627;
  width: 100%;

}

.title_layout {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;

}

.title_layout1 {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  background: #121022;
}

.play_img {
  width: 100%;
}

.grid_style {
  display: flex;
  justify-content: center;
}

.flex_container1 {
  display: flex;
  flex-wrap: nowrap;
  font-family: Nunito;
}

.flex_container1>div {
  border-radius: 5px;
  background: #26253F;
  width: 350px;
  margin: 10px;
  text-align: center;

  font-family: Nunito;

}

.grid_box {
  width: 440px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #26253F;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
}

.grid_banner {
  width: 100%;
  padding: 10px;
}


.flex_container3 {
  display: flex;
  flex-wrap: nowrap;
  font-family: Nunito;
  margin-bottom: 20px;
  justify-content: center;
}

.flex_container3>div {
  border-radius: 5px;
  background: #FF6F96;
  width: 30px;
  margin: 3px;
  text-align: center;
  line-height: 54px;
  font-family: Nunito;
  font-size: 27px;
  color: white;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_calnder {
  width: 20px !important;
  height: 20px;
  margin-right: 10px;
}

.lable_run {
  width: 169px;
  height: 41px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.lable_dhamakka {
  color: #FFF;
  font-family: Style-Script;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.lable_cash {
  color: #FFF;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.lable_pink {
  color: #FF6F96;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.lable_wrap {
  display: flex;
  flex-direction: column;
}

.lable_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.button_wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 60px;
}

.button_view {
  border-radius: 8px;
  border: 1px solid #FFF;
  background: #26253F;
  padding: 8px;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
}

.button_buynow {
  border-radius: 8px;
  border: 1px solid #FF6F96;
  background: #FFF;
  padding: 8px;
  color: #FF6F96;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
}

.box_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  background: #121022;
  width: 100%;
}

.win_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #171627;
  width: 834px;
  height: 216px;
  flex-shrink: 0;
  color: white;
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Nunito;
}

.play_wrap {
  background: #121022;
  height: 100vh;
}
.tabel{
  margin-bottom: 20px;
}
.table_bg {
  background: #121022;
  height: 100vh;
  margin-bottom: 10px;
}

.footer_wrap {
  background: #1E1D32;
  height: 50vh;
  display: flex;
  color: white;
  width: 100%;
  justify-content: center;
}

.footer_left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9DA3A8;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.footer_middle {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.footer_right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: right;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
}

.social_media_wrap {
  display: flex;
  margin-top: 10px;
}

.social_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.search {
  width: 90%;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  padding: 5px;

}

.arrow_img {
  position: absolute;
  right: 25px;
  top: 60px;
}

.footer_mid_sub {
  display: flex;
}

.footer_mid_sub_grid {
  width: 100%;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer_mid_sub_grid_title {
  color: #FFF;
  text-align: left;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-align: left;
}

.footer_mid_sub_grid_subtitle {
  color: rgba(255, 255, 255, 0.75);
  text-align: left;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  text-transform: capitalize;
}





.hamburger_menu {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 270px;
}

.hamburger_label {
  color: rgba(255, 255, 255, 0.60);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hamburger_label1 {
  color: rgba(248, 118, 153, 0.60);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  /* 125% */
}

.draw_banner_wrap {
  height: 350px;
  background: #1E1D32;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw_img {
  width: 600px;
  height: auto;
}

.draw_title_layout {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background: #141227;


}


.draw_box_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121022;
  width: 100%;
}

.draw_win_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #171627;
  width: 834px;
  height: 216px;
  flex-shrink: 0;
  color: #FCC34A;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-family: Nunito;
  margin-top: 50px;
  margin-bottom: 50px;
}

.draw_next_time {
  width: 100%;
  height: 438px;
  flex-shrink: 0;
  background: #171627;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.draw_next_time_label {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.without_box_draw {

  background: #171627 !important
}

.prize_img {
  width: 300px;
  height: auto;
}

.first_prize_number {
  display: flex;
}

.first_prize_number_bubble {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: white;
  border-radius: 50%;
  color: #FF6F96;
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 20px;
}

.second_prize_number {
  color: #FCC34A;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}

.second_prize_number_bubble {
  width: 60.58px;
  height: 60.58px;
  flex-shrink: 0;
  background: #1E1D32;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 20px;
}

.draw_btn {
  display: flex;
  width: 179px;
  height: 42px;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #FF6F96;
  box-shadow: 0px 4px 16px 0px rgba(144, 39, 142, 0.15);
  display: flex;
  width: 135px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  background: #121022;
  white-space: nowrap;
  margin-top: 30px;
}

.how_to_win_wrap {
  width: 100%;
  height: 241px;
  flex-shrink: 0;
  background: #171627;
  display: flex;
  align-items: center;
  justify-content: center;


}

.how_to_win {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  color: #FF6F96;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;

}

.how_to_win_white {
  color: white;
  font-family: Nunito;
}

.jackpot_mainwrap {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}

.jackpot_mainwrap1 {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  justify-content: flex-end;
}

.jackpot_wrap {

  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.jackpot_label {
  white-space: nowrap;
  margin-bottom: 15px;
}

.jackpot_label1 {
  white-space: nowrap;
  font-size: 30px;
  font-weight: 400;
}

.jackpot_red_round_wrap {
  display: flex;
}

.jackpot_red_round {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #FF6F96;
  margin-right: 10px;
  margin-top: 20px;
}

.jackpot_white_round {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #FFF;
  margin-right: 10px;
  margin-top: 20px;
}

.draw_title_layout1 {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background: #141227;
  margin-top: 100px;

}

.buy_now {
  display: flex;
  width: 136px;
  height: 49px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: white;
  border-radius: 8px;
  background: var(--main, #FF6F96);
  box-shadow: 0px 4px 16px 0px rgba(144, 39, 142, 0.15);
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner1_img {
  height: 431px;
  width: 80%;
}

.draw_banner_wrap1 {
  height: 550px;
  background: #1E1D32;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_wrap {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.search1 {
  width: 50%;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1E1D32;
  padding: 10px;
  border: 1px solid #1E1D32;

}

.box_wrap {
  width: 80px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #1E1D32;
  margin-left: 10px;
  margin-right: 10px;
  color: #FFF;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product_grid_wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  margin-right: 20px;

}

.product_grid1 {
  width: 290px;
  height: 344px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #000;
  background: #26253F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product_grid_img_wrap {
  position: relative;
}

.product_grid_wrap_main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product_grid_cart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_grid_price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #FFF;
  text-align: right;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 19px;
}

.product_grid_img {
  width: 100%;
  height: 222px;
  flex-shrink: 0;
  border-radius: 20px;

}

.product_label {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
}

.product_label1 {
  color: #FFF;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 10px;

}

.product_label_wrap {
  display: flex;
  flex-direction: column;
}

.product_grid_cart_img {
  width: 30px;
  height: 30px;
}

.view_details_btn {
  height: 49px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  background: #121022;
  border: 1px solid white;
  margin-top: 40px;
  cursor: pointer;
  /* 162.5% */
}

.shopping_lable_wrap {
  display: flex;
  justify-content: left;
}

.shopping_lable {
  color: #FFF;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left !important;
}

.draw_banner_wrap2 {
  display: flex;
  margin-top: 50px;
}

.cart_left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20px;
}

.cart_img_selection {
  width: 314px;
  height: 229px;
  flex-shrink: 0;
  border-radius: 8px;
}

.cart_middle {
  display: flex;
  flex-direction: column;
  width: 30%;
  color: white;
}

.cart_middle_txt {
  color: #F2F2F2;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.star_wrap {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.map_pin {
  width: 20px;
  height: 20px;
}

.line {
  width: 100%;
  margin-top: 20px;
}

.star_label {
  margin-right: 20px;
}

.rate_wrapper {
  display: flex;
  justify-content: space-between;
}

.rate {
  color: #FFF;
  font-family: Poor Richard;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.offer {
  color: rgba(255, 255, 255, 0.50);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 50px;
}

.quantity {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;
}

.price_box_wrapper {
  display: flex;
  align-items: center;
}

.price_box {
  width: 100px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FF6F96;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.free_delivery {
  display: flex;
  justify-content: space-between;
}

.product_grid_cart_img_wrap {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  background: #26253F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.grey_box {
  width: 65px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #D9D9D9;
  color: #000;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
  margin-right: 10px;
}

.grey_box_padding {
  margin-top: 20px;
}

.size_label {
  margin-right: 10px;
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label_colour_wrap {
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.label_colour {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10px;

}

.cart_right {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin-left: 20px;
}

.advertisment_img {
  width: 406px;
  height: 143px;
  flex-shrink: 0;
  border: 1px solid rgba(255, 255, 255, 0.50);
}

.location_wrap {
  display: flex;
  margin-top: 10px;
  color: white;
  align-items: center;
  margin-bottom: 20px;
}

.deliver_to {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  opacity: 0.26;

}

.deliver_address {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.26;
  margin-left: 20px;
}

.deliver_address1 {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 20px;
  margin-bottom: 10px;
}

.deliver_address_wrap {
  margin-bottom: 20px;
}

.address_wrapper {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}

.yellow_label {
  color: #FCC34A;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  margin-bottom: 20px;
}

.total_label {
  color: #FFF;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total_price {
  color: #FFF;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.total_label1 {
  color: #FFF;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total_price1 {
  color: #FFF;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cart_add {
  width: 298px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #9194FF;
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.checkout_btn {
  width: 298px;
  height: 47px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #4E52FF;
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.draw_banner_wrap3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.checkout_left {
  width: 40%;
  margin-right: 20px;
  margin-top: 20px;
}

.checkout_right {
  width: 40%;
  margin-top: 20px;
}

.delivery_address {
  width: 90%;
  height: 37px;
  flex-shrink: 0;
  background: #201F35;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: Nunito;
  margin-top: 20px;

}

.details {
  color: #FFF;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  /* 131.25% */
  width: 60%;
}

.add_wrap1 {
  display: flex;
}

.add_wrap {
  display: flex;
  width: 46px;
  height: 22px;
  padding: 12px 24px;

  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  color: var(--color-white, #FFF);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  background: #46486E;
  margin-right: 10px;
  align-items: center;
}

.radio_wrap {
  display: flex;
  color: #FFF;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.username_wrap {
  display: flex;
  color: #FFF;
  margin-top: 30px;
  font-family: Nunito;
  flex-direction: column;
}

.user_pin {
  color: #FFF;
  font-family: Nunito;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  margin-left: 40px;
  /* 118.75% */
}

.username_mainwrap {
  display: flex;
  justify-content: space-between;
}

.checkbox_wrap {
  margin-right: 50px;

}

.payment_method {
  width: 84%;
  height: 57px;
  flex-shrink: 0;
  background: #201F35;
  color: #FFF;
  font-family: Nunito;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.credit_card_wrap {
  width: 80%;
  flex-shrink: 0;
  background: #363454;
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav_icons1 {
  width: 78px;
  height: 54px;
  margin-right: 10px;
}

.gpay_wrap {
  display: flex;
}

.nav_icons2 {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 20px;
}

.need_help {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  /* 193.75% */
  display: flex;
  justify-content: center;
  width: 100%;
}

.order_placed {
  color: #FCC34A;
  text-align: center;
  font-family: Nunito;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* 31.667% */
}

.draw_banner_wrap {
  height: 350px;
  background: #1E1D32;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order_placed_sub {
  color: #D9D9D9;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.draw_title_layout1 {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background: #141227;
  height: 231px;
  background: #171627;

}
.label_pink{
  color: #FF6F96;
  font-family: Nunito;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.tick{
  width: 84px;
  height: 84px;
}
.calender_wrap{
  background: #121022;
  height: 700px;
  width: 100%;
}
.calender_title{
  display: flex;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: Nunito;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 19px; 
margin-top: 50px;
}
.choose_number_pink{
  color: #FF6F96;
  font-family: Nunito;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 19px;
}
.draw_run_wrap{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: left;
}

.calendar_wrap{
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  width: 40%;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  background: rgba(70, 72, 110, 0.90);
}
.calendar_btn_wrap{
  display: flex;
  justify-content: center;
}

.react-calendar__tile .react-calendar__month-view__days__day .react-calendar__month-view__days__day--neighboringMonth{
  background: white!important;
    width: 30px!important;
    height: 70px!important;
    border-radius: 50%!important;
}
.calendar_btn{
  display: flex;
width: 142px;
height: 42px;
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 8px;
background: #FF6F96;
box-shadow: 0px 4px 16px 0px rgba(144, 39, 142, 0.15);
color: var(--color-white, #FFF);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}
.ticket_label{
  color: white;
}


/* .modal {
  background: white;
  height:100%;
  width:100%;
  border-radius: 15px;
  padding: 15px;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
} */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
